/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
<<<<<<< HEAD
    background-color: rgb(13, 83, 129);  
    
    color: #fcfcfc;
=======
    background-color: #EEEEEE;  
    
    color: #303030;
>>>>>>> fc456fbb3dfd947abaa871e3e6f0409152951c65
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

<<<<<<< HEAD
article {
    text-align: justify;
    margin: 0 auto;
}

header {
    color: rgb(255, 255, 255);
=======

article {
    text-align: justify;
}


header {
    color: skyblue;
>>>>>>> fc456fbb3dfd947abaa871e3e6f0409152951c65
    text-align: center;
}


footer {
<<<<<<< HEAD
    text-align: auto;
=======
    text-align: center;
>>>>>>> fc456fbb3dfd947abaa871e3e6f0409152951c65
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
<<<<<<< HEAD
    height: 200px ;
}
img.zweefrechts {
    float: right;
    margin-left:15px;
    height:240px;
}
img.zweefvoor {
    float:right ;
    margin-left:15px;
    height:150;
}
img.zweefachter {
    float: right;
    margin-left:15px;
    height:250px;
    width: 300px;
    margin-top:20px;
}
img.zweefboven {
    float: right;
    margin-left:15px;
    height:185px;
}
img.zweefin {
    float:left;
    margin-right: 15px;
    width: 235px;
}
=======
}

>>>>>>> fc456fbb3dfd947abaa871e3e6f0409152951c65
.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}




