/* Basislayout */
@keyframes fadeIn {
    0% {opacity:0;}

    100% {opacity:1;}
}

 .fadeIn { 
    animation:fadeIn 5s;
}
html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(13, 83, 129);  
    
    color: #fcfcfc;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}

article {
    text-align: justify;
    margin: 0 auto;
}

header {
    color: rgb(255, 255, 255);
    text-align: center;
}


footer {
    text-align: auto;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    width: 290px;
}
img.zweefrechts {
    float: right;
    margin-left:15px;
    height:140px;
}

img.zweefachter {
    float: right;
    margin-left:15px;
    height:250px;
    width: 330px;
    margin-top:20px;
}
img.zweefboven {
    float: right;
    margin-left:15px;
    height:185px;
}
img.zweefin {
    float:left;
    margin-right: 15px;
    width: 350px;
}


.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #dddddd;
    overflow: hidden;
    border: 5px solid rgb(0, 0, 0); 
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}

.tekst {
font-family:arial;

}


